
.table-validator table th,
.table-validator table td{
    width: 14.3%;
    max-width: 125px;
}
.table-validator ::-webkit-scrollbar{
  width: 12px;
}
.table-validator ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.table-validator  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.table-proposal,.blocks {
  margin: 0 0 3rem;
}

.table-validator{
  margin: 0 0 1.5rem;
}

@media (max-width: 767px){
  .table-validator{
    margin: 0 0 3rem;
  }
}

.table-proposal table th,
.table-proposal table td{
    width: 14%;
}

/* .table-proposal table th:first-child,
.table-proposal table td:first-child{
    width: 20%;
} */

.table-proposal .data-table__row__info {
  display: table-cell
}

.table-proposal ::-webkit-scrollbar{
  width: 12px;
}
.table-proposal ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.table-proposal  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.data-table {
  border-spacing: 0 0.25rem;
  width: 100%;
  padding: 0 1rem;
  table-layout: auto;
}

.data-table tr td:first-child::before {
  position: absolute;
  font-size: var(--sm);
  text-align: right;
  color: var(--dim);
  left: -1.5rem;
}

.data-table th {
  padding: 1rem;
  text-align: center;
}

.data-table th:first-child {
  text-align: left;
}

.data-table td {
  padding: 0.5rem;
  /* margin-bottom: .5rem; */
  position: relative;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}

.data-table td:first-child {
  text-align: left;
}

.data-table__row__cell__separator::after {
  display: block;
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2px;
  top: 0.75rem;
  right: 0.75rem;
  background: var(--bc-dim);
}

.data-table__row {
  padding: 1rem;
  border-radius: 0.25rem;
  /* border: 1px solid var(--bc-dim); */
}

.data-table__row__info {
  display: flex;
  align-items: center;
  width: 100%;
}

.data-table__row__info__container__status {
  left: 0;
  top: 9px;
  border-radius: 50%;
  display: inline-block;
  height: 0.5rem;
  position: absolute;
  width: 0.5rem;
}

.data-table__row__info__container__status.red {
  background: var(--danger);
}

.data-table__row__info__container__status.yellow {
  background: var(--warning);
}

.data-table__row__info__container__status.green {
  background: var(--success);
}

.data-table__row__info__container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.data-table__row__info__container__name {
  padding-left: 0.2rem;
  max-width: 200px;
  width: 100%
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.data-table__row__info__image {
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 0.2rem;
  border-radius: 50px;
  background: #62438d;
}

.data-table__row__info__image--no-img {
  padding: 0.2rem;
}

.data-table__row__info__container__description {
  font-size: var(--sm);
  padding-left: 0.2rem;
}
.data-table td .bech32-address{
  width: 70px;
}
.table-validator table tr:hover td:first-child{
  box-shadow: 0px 5px 10px #00000054;
}
/* .table-validator tr:hover th:nth-child(2),
.table-validator tr:hover th:nth-child(3), */
.table-validator tr:hover td.li-validator__rewards,
.table-validator tr:hover td.li-validator__delegated-steak{
  display: none;
}
.table-validator table tr td.delegate-btn,
.table-validator table tr td.undelegate-btn{
  display: none;
} 
.table-validator table tr:hover td.delegate-btn,
.table-validator table tr:hover td.undelegate-btn{
  display: table-cell;
  padding: 0;
}
/* .table-validator table tr td:nth-child(6),
.table-validator table tr td:last-child{
  display: none;
}
.table-validator table tr:hover td:nth-child(6),
.table-validator table tr:hover td:last-child{
  display: inline-flex;
} */
.delegate-btn{
  background: #ffba00;
  width: 5% !important;
  max-width: 70px !important;
}
.delegate-btn div,
.undelegate-btn div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.undelegate-btn{
  background: #ea4335;
  width: 12% !important;
  max-width: 120px !important;
}
.undbtn{
  width: 85px !important;
}
.dbtn{
  width: 70px !important;
}
tr.li-validator{
  position: relative;
 
}
.dm-btn-div {
  display: flex;
  justify-content: flex-end;
  height: 100%;
    /* position: absolute; */
  /* top: 0; */
  right: -200px; 
  z-index: -9999;
  width: 0px;
  transition: right 1s ease-out;
}
.dm-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr.li-validator:hover .dm-btn-div {
  width:180px;
  right: 0;
  z-index: 2;
}

@media(max-width:837px){
  .data-table {
    padding: 0;
  }
}
